doctype html
html
  head
    title DGM Survey Dispenser
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='//fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css')
    link(href='/css/app.min.css' rel='stylesheet' type='text/css')
  body
    - if (user)
      script.
        window.user = !{JSON.stringify({id: user.id, email: user.email, role: user.role})};
        window.roles = !{JSON.stringify(roles)};
    script(src='/js/app.min.js')
