ion-view(title='{{title}}')
  ion-content(padding='true')
    .list(ng-repeat="questionView in questionViews")
       .item.item-divider Question : {{questionView.label}}
       .item {{questionView.question}}
       .item.item-divider Question Type
       .item {{questionView.type}}
       .item.item-divider Choices
       .item(ng-repeat="answer in questionView.choices") {{answer}}
       button(class="button button-block button-assertive" ng-click="deleteQuestion(questionView._id)") Delete Question

