ion-view(title='{{title}}')
  ion-content(padding='true')
    .list
      
        button(class="button button-block button-positive" ng-click="goCreate()") Create a Question
        button(class="button button-block button-energized" ng-click="goView()") View Questions
        button(class="button button-block button-balanced" ng-click="goViewReports()") View Reports
